.main {
  display: flex;
  justify-content: center;
  align-items: center;

  filter: brightness(55%);
  background-color: black;
  overflow: hidden;
  position: relative;
  /* width: 100vw;
  height: 100vh; */
  z-index: 1;
}

.card {
  color: wheat;
}

@media (max-width: 768px) {
  .main {
    justify-content: center; /* Adjust alignment for mobile */
    z-index: 1;
    filter: brightness(50%);
  }
}
