.header {
  font-size: medium;
}

.certificate {
  /* font-size: small; */
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list div {
  /* border: 3px solid orange; */
  color: darkgray;
}
